<%- include("partials/_header") -%> <%- include("partials/_navigation") -%> <%-
include("partials/_slider") -%>

<!-- About-->
<section class="page-section" id="about">
  <div class="container">
    <div class="text-center">
      <h2 class="section-heading text-uppercase">About</h2>
      <h3 class="section-subheading text-muted">
        Thats My Career
      </h3>
    </div>
    <ul class="timeline">
      <li>
        <div class="timeline-image">
          <img
            class="rounded-circle img-fluid"
            src="assets/img/about/1.jpg"
            alt="..."
          />
        </div>
        <div class="timeline-panel">
          <div class="timeline-heading">
            <h4>2014-2015</h4>
            <h4 class="subheading">Technical Sales Engineer</h4>
          </div>
          <div class="timeline-body">
            <p class="text-muted">
              <ul>
                <li>Responsible for supporting facility engineers to make a business plan on steam equipments maintenance management, such as those using superheated steam, turbines, valve</li>
                <li>Responsible for checking equipment whether steam leakage or blockage</li>
                <li>Completed management internship</li>
              </ul>
            </p>
          </div>
        </div>
      </li>
      <li class="timeline-inverted">
        <div class="timeline-image">
          <img
            class="rounded-circle img-fluid"
            src="assets/img/about/2.jpg"
            alt="..."
          />
        </div>
        <div class="timeline-panel">
          <div class="timeline-heading">
            <h4>2015-2019</h4>
            <h4 class="subheading">Engine Control And Calibration Engineer</h4>
          </div>
          <div class="timeline-body">
            <p class="text-muted">
              Received Recognition Award from Ford Motor Company
            </p>
            <ul>
              <li>Responsible for Engine testing development at calibration project</li>
              <li>Responsible for providing support to advanced planning and processes
                to ensure that engine and all testing equipment is available
              </li>
              <li>Responsible for the creation and management of instructions for engine installation and removal, testing, daily checks, servicing and rework</li>
              <li>Responsible for progression of test cell and engine mechanical issues</li>
            </ul>
          </div>
        </div>
      </li>
      <li>
        <div class="timeline-image">
          <img
            class="rounded-circle img-fluid"
            src="assets/img/about/3.jpg"
            alt="..."
          />
        </div>
        <div class="timeline-panel">
          <div class="timeline-heading">
            <h4>2019-2022</h4>
            <h4 class="subheading">Project Specialist & Coordinator</h4>
          </div>
          <div class="timeline-body">
            <ul>
              <li>Responsible for designing emails, coding, and testing them from start to finish</li>
              <li>Provide support to all company in order to promote their goods, products and service.</li>
              <li>Contributing to universities and educational hub for playing critical role interacting with the business community</li>
            </ul>
          </div>
        </div>
      </li>
      <li class="timeline-inverted">
        <div class="timeline-image">
          <img
            class="rounded-circle img-fluid"
            src="assets/img/about/4.jpg"
            alt="..."
          />
        </div>
        <div class="timeline-panel">
          <div class="timeline-heading">
            <h4>2022-</h4>
            <h4 class="subheading">Full Stack Developer</h4>
          </div>
          <div class="timeline-body">
            <p class="text-muted">
              I participated in the full stack developer bootcamp organized by patika.dev sponsored by Logo Cyber ​​Security.
              In this bootcamp, i study on node.js, elasticsearch and vue.js. Also, i have a chance to learn mongoDB and postgreSQL.
            </p>
          </div>
        </div>
      </li>
      <li class="timeline-inverted">
        <div class="timeline-image">
          <h4>
            Thats
            <br />
            My
            <br />
            Story!
          </h4>
        </div>
      </li>
    </ul>
  </div>
</section>

<%- include("partials/_footer") %>
