<%- include("partials/_header") -%> <%- include("partials/_navigation") -%> <%-
include("partials/_slider") -%>

<!-- Team-->
<section class="page-section bg-light" id="team">
  <div class="container">
    <div class="text-center">
      <h2 class="section-heading text-uppercase">Contact me</h2>
      <h3 class="section-subheading text-muted">
        
      </h3>
    </div>
    <div class="row">

      <div class="offset-4 col-lg-4">
        <div class="team-member">
          <img
            class="mx-auto rounded-circle"
            src="assets/img/team/emre.jpg"
            alt="..."
          />
          <h4>Emre ÇOLAK</h4>
          <p class="text-muted">Mechanical Engineer | Business Development | Swift Developer | Full Stack Developer</p>
          <a
            class="btn btn-dark btn-social mx-2"
            href="#!"
            aria-label="Diana Petersen Twitter Profile"
            ><i class="fab fa-twitter"></i
          ></a>
          <a
            class="btn btn-dark btn-social mx-2"
            href="#!"
            aria-label="Diana Petersen Facebook Profile"
            ><i class="fab fa-facebook-f"></i
          ></a>
          <a
            class="btn btn-dark btn-social mx-2"
            href="#!"
            aria-label="Diana Petersen LinkedIn Profile"
            ><i class="fab fa-linkedin-in"></i
          ></a>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8 mx-auto text-center">
        <p class="large text-muted">
          Here are some ideas to get you started:
        </p>
        <ul style="list-style-type:none; text-align: center;">
          <li>
            I graduated from Yıldız Technical University in 2014.
          </li>
          <li>
            I worked as a Technical Sales Engineer in 2014. And this experience give me opportunity to imporove my communication skills.
          </li>
          <li>
            Then, I worked at FORD Motor Company as a Dynometer and Calibration Engineer from 2015 to 2018. In this company, I was organising teams to carry out calibration project and I made code in Matlab for automation tools
          </li>
          <li>
            Then, I worked at Trabzon Technology Development Zone as a Project Engineer, Manager and Technolgy Transfer Specialist. I made strong link with start-up firms in this experience.
          </li>
          <li>
            I love coding. And I am a member of kodla.co. I have interested in coding swift for 3 years.
          </li>
          <li>
            I am keen on my freedom:)
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>

<%- include("partials/_footer") %>
